{% extends '::base.html.twig' %} 

{% block title %}Motor Optimo{% endblock %} 

{% block stylesheets %}
{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
	'bundles/odiseomotoroptimo/css/mainstyles.css'
	'bundles/odiseomotoroptimo/css/bootstrap.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}
	
	<div id="header"><!-- Header -->
		<div id="logo">
			<img src="{{ asset('bundles/odiseomotoroptimo/images/logo_motor_optimo.jpg') }}" alt="Logo">
		</div>
		<div id="search"><!-- Search -->
			<div id="search-text">
				Respaldado por:
			</div>
			<div id="logo-motorcraft">
				<img src="{{ asset('bundles/odiseomotoroptimo/images/logo_motorcraft.png') }}" alt="motorcraft">
			</div>
			
			<div id="search-form">
				<form action="{{ path('odiseo_motor_optimo_frontend_search') }}" method="post">
					<input type="text" name="fname" size="40">
				</form>
			</div>
		</div><!-- End Search -->
	</div><!-- End Header -->
	
	<div id="menu">
		<div id="menu-top"></div>
		<div class="menu-margin"></div>
		<div class="separator"></div>		
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_homepage') }}">Inicio</a></div>
		<div class="separator"></div>
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_tips') }}">Consejo del mes</a></div>
		<div class="separator"></div>
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_contact') }}">Contacto</a></div>
		<div class="separator"></div>		
		<div class="menu-margin"></div>
		<div id="menu-bottom"></div>		
	</div>
	
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	
    <div id="separator-footer"></div>
	<div id="footer">
	
	</div>
{% endblock %}
{% block javascripts %}
	{% javascripts output='js/frontend.min.js'
           'bundles/odiseomotoroptimo/js/vendor/jquery-1.11.3.min.js'
		   'bundles/odiseomotoroptimo/js/vendor/bootstrap.js'
		   'bundles/odiseomotoroptimo/js/main.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
{% endblock %}
