{% extends '::base.html.twig' %} 

{% block title %}Motor Optimo{% endblock %} 

{% block stylesheets %}
{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
	'bundles/odiseomotoroptimo/css/mainstyles.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}
	
	<div id="header"><!-- Header -->
		<div id="logo">
			<img src="{{ asset('bundles/odiseomotoroptimo/images/logo_motor_optimo.jpg') }}" alt="Logo">
		</div>
		<div id="search"><!-- Search -->
			<div id="search-text">
				Respaldado por:
			</div>
			<div id="logo-motorcraft">
				<img src="{{ asset('bundles/odiseomotoroptimo/images/logo_motorcraft.png') }}" alt="motorcraft">
			</div>
			<div id="search-form">
				<form action="">
					<input type="text" name="fname" size="40">
				</form>
			</div>
		</div><!-- End Search -->
	</div><!-- End Header -->
	
	<div id="menu">
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_products') }}">Inicio</a></div>
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_tips') }}">Consejo del mes</a></div>
		<div class="item"><a href="{{ path('odiseo_motor_optimo_frontend_contact') }}">Contacto</a></div>
	</div>
	
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	
	<div id="footer">
	<h1>footer</h1>
	</div>

{% endblock %}
